<div class="not-found-section">
    <div class="row w-100">
        <div class="col-6 left-page">
            <img class="img-fluid" src="assets/images/not-found.png" alt="not-found.png">
        </div>
        <div class="col-6 d-flex align-items-center right-page">
            <div class="ms-4">
                <h4>ERROR 404</h4>
                <h2>Page not found</h2>
                <p class="">The page you’re looking for doesn’t exist.</p>
                <button class="btn btn-light px-4 py-2" routerLink="/home">Go home</button>
            </div>
        </div>
    </div>
</div>