

<div class="footer-section w-100">
    <div class="newsletter-section">
        <div class="d-flex">
            <div class="ms-4 pt-3">
                <h4 class="text-light">NEWSLETTER</h4>
                <p class="text-light">Subscribe to our newsletter</p>
            </div>
            <div class="me-4 ms-auto pt-4">
                <div class="input-group p-0">
                    <input type="email" formControlName="subscribe" class="form-control" placeholder="Email"
                        aria-label="username" aria-describedby="email">
                    <span class="input-group-text p-0" id="email">
                        <button class="btn btn-light btn-subscribe" (click)="subscribe()">Subscribe</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="social-section pt-5">
        <!--<div class="d-flex justify-content-center">
            <a class="link" routerLink="/">Home</a>
            <a class="link mx-3" routerLink="/">About-us</a>
            <a class="link" routerLink="/">Service</a>
            <a class="link mx-3" routerLink="/">Portfolio</a>
            <a class="link me-3" routerLink="/">Project</a>
            <a class="link" routerLink="/">Contact-us</a>
        </div>-->
    </div>
    <div class="links-section py-4">
        <div class="d-flex justify-content-center">
            <a href="" class="link" target="_blank">
                <i class="fa-brands fa-square-x-twitter fs-2"></i>
            </a>
            <a href="" class="link px-5" target="_blank">
                <i class="fa-brands fa-square-facebook fs-2"></i>
            </a>
            <a href="" class="link pe-5" target="_blank">
                <i class="fa-brands fa-linkedin fs-2"></i>
            </a>
            <a href="" class="link" target="_blank">
                <i class="fa-brands fa-square-github fs-2"></i>
            </a>
        </div>
    </div>
    <div class="copyright-section pb-2">
        <div class="d-flex justify-content-center">
            <p class="text-light">©Copyright all right reserverd 2024</p>
        </div>
    </div>
</div>