<div class="portfolio_wrapper ">
    <div class="portfolio-banner-bg img-fluid" [hidden]="hidden">
        <!-- banner  -->
        <nxg-banner [title]="title"></nxg-banner>
        <!--/ banner  -->
    </div>
    <div class="container-fluid">
        <div class="row pt-2 pb-5">
            <div class="col-12 col-lg-4 col-md-4 mt-4" *ngFor="let info of portfolioGellary">
                <a class="link" [routerLink]="info.url">
                    <div class="card">
                        <img [src]="info.src" class="card-img-top img-fluid" [alt]="info.alt" style="height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="fa-light fa-globe-pointer me-2"></i>{{info.title}}
                            </h5>
                            <p class="card-text text-muted">
                                <i class="fa-solid fa-link me-2"></i>{{info.title}}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>