/* You can add global styles to this file, and also import other style files */
*,
body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

$primary: #123456;
$dark: #000000;
;
$white: #ffffff;
$danger: #cf2e2e;
$orange: #ff6900;
$amber: #fcb900;
$light-cyan: #7bdcb5;
$cyan: #00d084;
$primary: #123456;